<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <script defer src="/javascripts/expFunc.js"></script>
    <title>Expense Form</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="center">
      <h2>Update Form</h2>
    <br /><br />
    <form action="/form/<%= user %>/updateForm/<%= forms._id %>?_method=PUT" method="POST" autocomplete="off">
      <input type="hidden" name="userId" value="<%= user %>" />
      <label class="form-label">Name</label><br />
      <input class="form-control" type="text" name="name" value="<%= forms.name %>" />
      <br /><br />
      <label class="form-label">Department</label><br />
      <input class="form-control" type="text" name="department" value="<%= forms.department %>" />
      <br /><br />
      <label class="form-label">Category</label><br />
      <select class="form-select" name="category" value="<%= forms.category %>">
        <option value="RFC">RFC</option>
      </select>
      <br /><br />
      <label class="form-check-label">Criteria</label><br />
      <input
        type="radio"
        name="serviceYear"
        id="oneYear"
        value="Does this asset has one year of Life"
      />
      <label class="form-check-label" for="oneYear">Does this asset has one year of Life</label><br />
      <input
        type="radio"
        name="serviceYear"
        id="nYear"
        value="Does this asset has less than one year Life"
      />
      <label class="form-label" for="nYear">Does this asset has less than one year Life</label>
      <br /><br />
      <label class="form-label">Document Name</label><br />
      <input
        type="text"
        name="documentName"
        class="form-control"
        value="<%= forms.documentName %>"
      />
      <br /><br />
      <label class="form-label">Request Date</label><br />
      <input class="form-control" type="Date" name="requestDate" />
      <br /><br />
      <label class="form-label">Is this a Client Project</label><br />
    <select class="form-select" name="clientProject" >
      <option value="YES">Yes</option>
      <option value="NO">No</option>
    </select>
      <br /><br />
      <label class="form-label">Project Explanation</label><br />
      <input class="form-control" type="text" name="projectInfo" value="<%= forms.projectInfo %>" />
      <br /><br />
      <label class="form-label">Procurement Items</label><br />
      <select class="form-select" id="baseVal">
        <% itemList.forEach((el, idx) => { %>
        <option
          value="<%= el._id %>-<%= el.description %>-<%= el.currency %>-<%= el.cost %>">
          <%= el.description %>
        </option>
        <% }) %>
      </select>
      <button id="addItemButton" form="something" class="btn btn-outline-secondary button1">Add Item</button>
    <input class="form-control" type="hidden" value="" id="list" name="item">
    <div id="addTable">
      <table id="table" class="table table-hover">
        
      </table>
    </div>
    <br /><br />
      <label class="form-label">Purpose</label><br />
      <input class="form-control" type="text" name="purpose" value="<%= forms.purpose %>" />
      <br /><br />
      <input class="form-control" type="submit" value="Update" class="btn btn-outline-success"/>
    </form>
  </div>
  </body>
</html>
